@using Railway.Services.Infrastructure.Enums

@model Railway.Web.Models.PassengersViewModel

@{
    ViewBag.Title = "Пассажиры";
}

<div>
    <div class="row">
        <div class="col-lg-10">
            <h4>Пассажиры</h4>
        </div>
        <div class="col-lg-2">
            @Html.ActionLink("Добавить пассажира", "Info", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Дата</th>
                <th>Тип пассажира</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var passenger in Model.Passengers)
            {
                <tr>
                    <td>@passenger.Name</td>
                    <td>@passenger.BirthDay.ToShortDateString()</td>
                    <td>@passenger.Type.GetDescription()</td>
                    <td>
                        @Html.ActionLink("Редактировать", "Info", new { id = passenger.Id }, new { @class = "btn btn-info" })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

